:root {
  --main-bg-color: #000014;
  --secondary-bg-color: #fd2630;
  --main-color: #22f6fa;
  --secondary-color: #eb3800;
  --tertiary-color: #0072e5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  color: var(--main-color);
  background-color: var(--main-bg-color);
}

ul {
  list-style: none;
}

header {
  background-image: url(../images/electric.jpg);
  background-size: cover;
  padding: 15% 0 0 0;
  margin: 0 10px 0 10px;
  font-size: 30px;
  color: var(--seconday-color);
}

nav {
  background-color: var(--secondary-color);
  font-size: 30px;
  padding: 5px 0 5px 0;
}

nav a {
  text-decoration: none;
  color: var(--main-color);
  font-size: 30px;
}

nav a:hover {
  text-decoration: none;
  color: var(--tertiary-color);
}

main {
  border: solid 1px var(--tertiary-color);
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
}

.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 2px 16px;
}

.scrolling-wrapper::-webkit-scrollbar {
  display: none;
}

.card {
  flex: 0 0 auto;
  background-color: var(--secondary-color);
  transition: 0.3s;
  padding: 100px 60px 100px 60px;
  margin: 30px 40px 30px 40px;
}

.card:hover {
  border: solid 3px var(--main-color);
}

.card h3 {
  font-size: xx-large;
}
