:root {
  --main-bg-color: #000014;
  --secondary-bg-color: #fd2630;
  --main-color: #22f6fa;
  --seconday-color: #eb3800;
  --tertiary-color: #0072e5;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  color: var(--main-color);
  background-color: var(--main-bg-color);
}

ul {
  list-style: none;
}

header {
  background-image: url(../images/electric.jpg);
  padding: 20% 0 0 0;
}